.container
{
    
  background-image: linear-gradient(red, yellow);
}

.demo
{
    text-align: center;
    height: 75vh;
    margin : 5em;
}

.main
{
    display:flex;
    justify-content:center;
    align-items: center;
    

}

.one
{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    padding-right:5px;
}

.two
{
    display: flex;
    flex-direction :column;
    justify-content:center;
    align-items: center;
    padding-left:5px;
}
